<div class="jumbotron col-md-12">
  <form #commands="ngForm" (ngSubmit)="onSubmit(commands)">
    <label for="exampleFormControlTextarea1">Enter your commands here (multiple lines)</label>
    <label for="exampleFormControlTextarea1">Moreover You can write a complete shell script here</label>
    <hr>
    <div class="form-group">
      <textarea placeholder="start writing you script from here" ngModel name="commandFile" class="form-control" id="exampleFormControlTextarea1"
        rows="3"></textarea>
    </div>
    <hr>
    <input type="submit" class="btn btn-primary" value="Execute">
  </form>
</div>


<div class="jumbotron"  *ngIf="commandsHistory.length>0">
  <h4>Commands History</h4>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let command of commandsHistory">
      {{command}}
    </li>
  </ul>
</div>